[Unit]
Description=Nitrogen Wallpaper Setup
PartOf=graphical-session.target

[Service]
ExecStart=/run/current-system/sw/bin/nitrogen --restore

[Install]
WantedBy=graphical-session.target
