[Unit]
Description=1Password Agent
PartOf=graphical-session.target

[Service]
ExecStart=/home/judson/.nix-profile/bin/wine 'C:\Program Files\1Password 4\Agile1pAgent.exe'

[Install]
WantedBy=graphical-session.target
