[Unit]
Description=Taffybar Status bar
PartOf=xmonad.target

[Service]
ExecStart=/home/judson/.nix-profile/bin/taffybar

[Install]
WantedBy=xmonad.target
