[Unit]
Description=Xmobar Status bar
PartOf=xmonad.target

[Service]
ExecStart=/home/judson/.nix-profile/bin/xmobar

[Install]
WantedBy=xmonad.target
