#[diff]
#  tool=diffmerge
#
#[difftool "diffmerge"]
#  cmd = /usr/local/bin/diffmerge "$LOCAL" "$REMOTE"
#
#[difftool "p4merge"]
#  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
#
#[merge]
#  tool=diffmerge
#
#[mergetool "diffmerge"]
#  cmd = /usr/local/bin/diffmerge --merge --result="$MERGED" "$LOCAL" "$BASE" "$REMOTE"
#
#[mergetool "p4merge"]
#  cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $PWD/$BASE $PWD/$REMOTE $PWD/$LOCAL $PWD/$MERGED
[user]
  signingkey = "011F64CD"
