[Unit]
Description=SmartCard Daemon Notifier
PartOf=graphical-session.target

[Service]
ExecStart=/home/judson/.cargo/bin/socket-notify

[Install]
WantedBy=graphical-session.target
